<% include header %>
<script type="text/javascript">
function disp(n1)
{
cal.text1.value=cal.text1.value+n1;
}

function clr()
{
cal.text1.value="";
cal.text2.value="";
}


function find()
{

if(cal.text1.value%2==0)
{
	cal.text2.value="It's an even number";
}
else
{
	cal.text2.value="It's an odd number";
}

}

</script>
<div align="center">
    <h1>Even or Odd</h1>
    <form name=cal>
    <p> Enter a number and click Submit to find if its even or Odd</p>
    <input type="text" name="text1" size="25" disabled><br><br>
    <input type="button" name="one" value="1" onclick="disp(one.value)">
    <input type="button" name="two" value="2" onclick="disp(two.value)">
    <input type="button" name="three" value="3" onclick="disp(three.value)"><br><br>
    <input type="button" name="four"  value="4" onclick="disp(four.value)">
    <input type="button" name="five" value="5" onclick="disp(five.value)">
    <input type="button" name="six" value="6" onclick="disp(six.value)"><br>
    <input type="button" name="seven"  value="7" onclick="disp(seven.value)">
    <input type="button" name="eight" value="8" onclick="disp(eight.value)">
    <input type="button" name="nine" value="9" onclick="disp(nine.value)"><br>
    <input type="button" name="zero" value="0" onclick="disp(zero.value)">
    <br><br>
    <input type="button" name="Submit" value="Submit" onclick="find()">
    <input type="button" name="clear" value="Clear" onclick="clr()"><br><br>
    <textarea rows="4" cols="25" name="text2" disabled></textarea><br><br>
    </div>
    <% include footer %>